<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, class: 'form-control' %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? && 'edit|update'.include?(action_name) %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :username %> (optional)
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :name %> (optional)
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
    (<%= @minimum_password_length %> characters minimum)
  <% else %>
    (fill only if you want to change password)
  <% end %>
  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

  <% if 'edit|update'.include?(action_name) %>
    <%= f.label :current_password %> (enter to confirm your changes)
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<!--html: { method: :put }) do |f| %>-->
