<div class="snippet">
	<div class="title">
		<h3>
		<%= action_name == 'show' ?
				snippet.title : (link_to snippet.title, snippet) %>
		</h3>
		<%= render 'copy_link', object: snippet %>
		<%= link_to glyph("edit"), edit_snippet_path(snippet) %>
		<%= link_to glyph("remove"), snippet, method: :delete,
																					data: { confirm: "You sure?" } %>
	</div>
	<div class="code"><%= snippet.code %></div>
	<div class="stats">
		<ul>
			<li>Created <%= count_time(snippet) %> ago</li>
			<li>Chars: <%= count_code(snippet) %></li>
			<li>Lines: <%= count_lines(snippet) %></li>
		</ul>
</div>
