<h3>Edit snippet</h3>

<%= form_for @snippet do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>

	<%= f.label :code, "Your code" %>
	<%= f.text_area :code, rows: 15, class: 'form-control' %>

	<%= f.submit "Submit changes", class: "btn btn-primary" %>
<% end %> 