<% provide(:title, @snippet.title) %>
<%= render 'highlight_script' %>

<div class="snippet-container">
	<span class="title-links">
		<h3><%= @snippet.title %></h3>
		<%= render 'copy_link', object: @snippet %>
		<%= link_to "edit",   edit_snippet_path(@snippet), id: "sub_button" %>
		<%= link_to "delete", @snippet, method: :delete, data: { confirm: "You sure?" },
																	 id: "sub_button" %>
	</span>
	<p class="code"><%= @snippet.code %></p>
</div>



