<header class="navbar navbar-fixed-top navbar-default" id="navbar-override">
	<div class="container">
		<%= image_tag("ruby-icon-mini.png", id: "logo", alt: "Ruby Logo") %>
		<%= link_to "rubypaste", root_path, id: "logo" %> 
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Create new", new_snippet_path %></li>
				<li><%= link_to "All snippets", root_path %></li>
				<li><%= link_to "About", '#' %></li>
			</ul>
		</nav>
	</div>
</header>